.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}
.dark-01 {
  color: rgba(37, 36, 50, 1);
  font-weight: bold;
}
.dark-02 {
  color: rgba(137, 135, 161, 1);
}
.dark-03 {
  color: rgba(0, 0, 0, 0.5);
}
#colored-title {
  color: rgba(233, 90, 8, 1);
}

/* Navbar style section */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item-container {
  display: flex;
  list-style: none;
}
.nav-link {
  padding: 0 25px;
  justify-content: center;
}
#nav-link-img {
  display: flex;
  gap: 10px;
}

/* Navbar style section for mobile device*/

.nav-mbl-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 16px;
}
.nav-mbl-link {
  display: flex;
  gap: 10px;
}

/* banner style section */
.banner-container {
  display: flex;
  align-items: flex-end;
  margin: 120px 10px;
}
.banner-title {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 65px;
}

/* Our Plants style section */
.plant-title {
  text-align: center;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 50px;
}

.plant-info {
  text-align: center;
  font-size: 20px;
  margin: 16px 85px 50px 85px;
}
.plant-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plant-card {
  text-align: center;
}
.plant-card-info {
  margin-top: 20px;
}
.card-title {
  font-size: 22px;
  font-weight: 500;
}
.card-price {
  font-size: 22px;
  font-weight: 700;
  margin: 15px 0;
}
.card-btn {
  background-color: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  padding: 20px 50px;
  width: 100%;
  font-weight: 600;
  border: none;
}

/* Flower and Plants Lover Section */
.plant-lover-container {
  display: flex;
  gap: 80px;
  margin-top: 200px;
}
.plant-lover {
  position: relative;
  display: inline-block;
}
.flower-lover-store {
  position: relative;
}
.trusted-lover-badge {
  position: absolute;
  top: -120px;
  right: -100px;
}

.trusted-badge {
  width: 250px;
  height: 250px;
}
.plant-lover-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.plant-lover-title {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 50px;
  width: 400px;
}
.plant-lover-info ul li {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Latest Deal Section */

.deal-container {
  margin: 120px 0;
}
.deal-info {
  text-align: center;
}
.deal-title {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 50px;
}
.deal-description {
  font-size: 20px;
  margin: 0 50px;
}
.deal-img-container {
  display: flex;
  margin-top: 70px;
  gap: 30px;
}
.deal-img-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 33%;
}
.deal-img-right {
  width: 67%;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}
.bloom-title,
.ana-title {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 20px;
}
.zabo-title {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 40px;
}
.bloom-shop,
.ana-shop {
  font-weight: 600;
  font-size: 16x;
  text-decoration: underline;
}
.zabo-shop {
  font-weight: 600;
  font-size: 30x;
  text-decoration: underline;
}
.deal-bloom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../assets/deal-bloom.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 14px;
  /* background: rgba(0, 0, 0, 0.4), url(image); */
}
.deal-ana {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../assets/deal-ana.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 14px;
}
.deal-zabo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../assets/deal-zabo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 420px;
  border-radius: 14px;
}

/* Join section */
.join-container {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  margin: -8px;
}
.join-info {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.join-title {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 60px;
  margin-top: 250px;
  color: rgba(255, 255, 255, 1);
}
.email-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
#email-input {
  width: 650px;
  height: 50px;
  padding: 8px 20px;
  border: none;
}
.email-btn {
  background-color: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  padding: 25px 50px;
  width: 100%;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* Footer style section */
.footer-container {
  padding: 50px 160px;
  display: flex;
  justify-content: space-between;
}
.footer-info {
  height: 180px;
  width: 360px;
}

.footer-tag-left,
.footer-tag-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer-icon-container {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 36px;
}
#twittwer-icon {
  width: 20px;
  height: 18px;
}
/* Responsive design for desktop view*/
@media only screen and (min-width: 768px) {
  .nav-mbl-container {
    display: none;
  }
}

/* Responsive design for mobile view */
@media only screen and (max-width: 768px) {
  .navbar-container {
    display: none;
  }
  .banner-container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
  .banner-img-container {
    margin-right: -8px;
  }
  .banner-title {
    font-size: 24px;
    margin-top: 28px;
  }
  .plant-title {
    font-size: 24px;
    margin-top: 60px;
  }
  .plant-info {
    font-size: 16px;
    margin: 16px 25px;
  }
  .plant-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .plant-lover-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0;
    gap: 18px;
  }
  .plant-lover {
    text-align: center;
  }
  .plant-lover-title {
    width: 100%;
    font-size: 24px;
  }
  .trusted-lover-badge {
    display: none;
  }
  .deal-title {
    font-size: 24px;
  }
  .deal-img-container {
    display: flex;
    flex-direction: column;
  }
  .deal-img-left {
    width: 100%;
  }
  .deal-img-right {
    width: 100%;
  }
  .deal-bloom,
  .deal-ana {
    height: 420px;
  }
  .join-container {
    height: 390px;
    margin: -10px;
  }
  .join-title {
    font-size: 22px;
    margin-top: 150px;
  }
  #email-input {
    width: 220px;
    border: none;
  }
  .footer-container {
    padding: 50px 160px 50px 0;
    display: flex;
    flex-direction: column;

    gap: 20px;
  }
  .footer-info {
    height: 150px;
  }

  .image-full {
    width: 100%;
  }
}
