.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}
.dark-01 {
  color: rgba(37, 36, 50, 1);
  font-weight: bold;
}
.dark-02 {
  color: rgba(137, 135, 161, 1);
}
.dark-03 {
  color: rgba(0, 0, 0, 0.5);
}
#colored-title {
  color: rgba(233, 90, 8, 1);
}

/* Navbar style section */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item-container {
  display: flex;

  list-style: none;
}
.nav-link {
  padding: 0 25px;
  justify-content: center;
}
#nav-link-img {
  display: flex;
  gap: 10px;
}

/* Navbar style section for mobile device*/

.nav-mbl-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 16px;
}
.nav-mbl-link {
  display: flex;
  gap: 10px;
}

/* banner style section */
.banner-container {
  display: flex;
  align-items: flex-end;
  margin: 120px 10px;
}
.banner-title {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 65px;
}

/* Our Plants style section */
.plant-title {
  text-align: center;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 50px;
}

.plant-info {
  text-align: center;
  font-size: 20px;
  margin: 16px 85px 50px 85px;
}
.plant-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plant-card {
  text-align: center;
}
.plant-card-info {
  margin-top: 20px;
}
.card-title {
  font-size: 22px;
  font-weight: 500;
}
.card-price {
  font-size: 22px;
  font-weight: 700;
  margin: 15px 0;
}
.card-btn {
  background-color: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  padding: 20px 50px;
  width: 100%;
  font-weight: 600;
}
/* Responsive design for desktop view*/
@media only screen and (min-width: 768px) {
  .nav-mbl-container {
    display: none;
  }
}

/* Responsive design for mobile view */
@media only screen and (max-width: 768px) {
  .navbar-container {
    display: none;
  }
  .banner-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner-description {
    margin: 30px 16px 65px 16px;
  }
  .banner-title {
    font-size: 24px;
  }
}
